@model MVC5Course.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    @Html.DisplayForModel();
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductId }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@*@model.OrderLine
@foreach (var item in Model.OrderLine)
{
}*@

@Html.Partial("ProductOrderLines", Model.OrderLine)

@Html.Action("ProductOrderLines", new { id = Model.ProductId })