@model IEnumerable<MVC5Course.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<form>
    @Html.TextBox("keyword")
    @*<input type="search" name="keyword" />*@
    <input type="submit" value="Search" />
    @Html.DropDownList("ActiveFilter", null, "請選擇Active狀態", new { onchange = "" })
</form>
@Html.Partial("_Pager", Model)
<p>
    @Html.ActionLink("Create New", "Create")
</p>
@*@Html.PagedListPager(Model as IPagedList, (p) => Url.Action("Index", new { pageNo = p }))*@
@*
    注意:input Control Name是CS___8__locals1_data_0__ProductName
    要去NuGet移除DoNet編譯器
*@
@using (Html.BeginForm())
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                <a href="@Url.Action("Index", "Products", new { sortby = "+price", keyword = ViewBag.keyword })">up</a>
                @Html.DisplayNameFor(model => model.Price)
                <a href="@Url.Action("Index", "Products", new { soryby = "-price", keyword = ViewBag.keyword })">down</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th></th>
        </tr>
        @*
        item.ProductName
        data[0].ProductName
        *@
        @{
            var data = Model.ToArray();
        }

        @for (var i = 0; i < data.Length; i++)
        {
            //記得要加上 ProductId
            @Html.HiddenFor(modelItem => data[i].ProductId)
            <tr>
                <td>
                    @Html.EditorFor(modelItem => data[i].ProductName)
                    @Html.ValidationMessageFor(modelItem => data[i].ProductName)
                </td>
                <td class="@(data[i].Price > 50 ? "text-danger" : "")">
                    @Html.EditorFor(modelItem => data[i].Price)
                    @Html.ValidationMessageFor(modelItem => data[i].Price)
                </td>
                <td>
                    @Html.EditorFor(modelItem => data[i].Active)
                    @Html.ValidationMessageFor(modelItem => data[i].Active)
                </td>
                <td>
                    @Html.EditorFor(modelItem => data[i].Stock)
                    @Html.ValidationMessageFor(modelItem => data[i].Stock)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = data[i].ProductId }) |
                    @Html.ActionLink("Details", "Details", new { id = data[i].ProductId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = data[i].ProductId })
                </td>
            </tr>
        }

    </table>
    <input type="submit" value="編輯" />
            }
